.row {
    display: flex; 
    flex-wrap: wrap;
}

.column {
    flex: 10%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.imgLink {
    transition: transform .2s;
}

.imgLink:hover {
    transform: scale(1.2);
}
